* {
    margin: 0%;
    padding: 0%;
}
footer {
    background: rgb(70,60,244);
    background: linear-gradient(90deg, rgba(70,60,244,1) 0%, rgba(86,60,244,1) 100%);
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
  }

  a {
    color: #fff;
  }