body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    color: #000000;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
  }

  section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1, h2 {
    color: #3498db;
  }

  iframe {
    width: 100%;
    height: 400px;
    border: none;
  }

  footer {
    background: rgb(70,60,244);
    background: linear-gradient(90deg, rgba(70,60,244,1) 0%, rgba(86,60,244,1) 100%);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  a {
    color: #fff;
  }